==




            <!-- Footer -->
            <footer id="footer" class="bg-dark text-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright small">
                                <a href="#">THEBAE.WATCH</a>
                                <p>Copyright © All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </div> <!-- /.body-content -->

        <!-- /////////////////////////////////
        ////////// End body content //////////
        ////////////////////////////////// -->


        <!-- Scroll to top button -->
        <a href="#" class="scrolltotop hidden-xs"><i class="fa fa-arrow-up"></i></a>



        

        <!-- Libs and Plugins JS -->
        <script src="http://demo.themetorium.net/html/red/v.1.5/theme/vendor/jquery/jquery-min.js"></script> <!-- jquery JS (more info: https://jquery.com) -->

        <script src="http://demo.themetorium.net/html/red/v.1.5/theme/vendor/bootstrap/js/bootstrap.min.js"></script> <!-- bootstrap JS (more info: http://getbootstrap.com) -->
        <script src="http://demo.themetorium.net/html/red/v.1.5/theme/vendor/jquery.easing.min.js"></script> <!-- jquery easing JS (more info: http://gsgd.co.uk/sandbox/jquery/easing) -->
        <script src="http://demo.themetorium.net/html/red/v.1.5/theme/vendor/jquery.stellar.min.js"></script> <!-- parallax JS (more info: http://markdalgleish.com/projects/stellar.js) -->
        <script src="http://demo.themetorium.net/html/red/v.1.5/theme/vendor/smoothscroll.js"></script> <!-- smoothscroll JS (more info: https://gist.github.com/theroyalstudent/4e6ec834be19bf077298/) -->
        <script src="http://demo.themetorium.net/html/red/v.1.5/theme/vendor/jquery.counterup.min.js"></script> <!-- counter up JS (requires jQuery "waypoints.js" plugin. more info: https://github.com/bfintal/Counter-Up) -->
        <script src="http://demo.themetorium.net/html/red/v.1.5/theme/vendor/waypoints.min.js"></script> <!-- counter up JS (more info: https://github.com/bfintal/Counter-Up) -->
        <script src="http://demo.themetorium.net/html/red/v.1.5/theme/vendor/ytplayer/js/jquery.mb.YTPlayer.min.js"></script> <!-- YTPlayer JS (more info: https://github.com/pupunzi/jquery.mb.YTPlayer) -->
        <script src="http://demo.themetorium.net/html/red/v.1.5/theme/vendor/magnific-popup/js/jquery.magnific-popup.min.js"></script> <!-- Magnific Popup JS (more info: http://dimsemenov.com/plugins/magnific-popup/) -->

        <script src="http://demo.themetorium.net/html/red/v.1.5/theme/vendor/masonry.pkgd.min.js"></script> <!-- masonry JS (more info: http://masonry.desandro.com/) -->
        <script src="http://demo.themetorium.net/html/red/v.1.5/theme/vendor/imagesloaded.pkgd.min.js"></script> <!-- imagesloaded JS (more info: http://masonry.desandro.com/appendix.html#imagesloaded) -->

        <script src="http://demo.themetorium.net/html/red/v.1.5/theme/vendor/owl-carousel/js/owl.carousel.min.js"></script> <!-- owl carousel JS (more info: http://www.owlcarousel.owlgraphic.com) -->

        <!-- Theme JS -->
        <script src="http://demo.themetorium.net/html/red/v.1.5/theme/js/theme.js"></script>

        <!-- Theme custom JS (all your JS customizations) -->
        <script src="/themes/thebaewatch/assets/js/application.js"></script>



        <!--==============================
        ///// Begin Google Analytics /////
        ============================== -->

        <!-- Paste your Google Analytics code here. 
        Go to http://www.google.com/analytics/ for more information. -->

        <!--==============================
        ///// End Google Analytics /////
        ============================== -->



    </body>

</html>