==




            <!-- Footer -->
            <footer id="footer" class="bg-dark text-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright small">
                                <a href="#">THEBAE.WATCH</a>
                                <p>Copyright © All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </div> <!-- /.body-content -->

        <!-- /////////////////////////////////
        ////////// End body content //////////
        ////////////////////////////////// -->


        <!-- Scroll to top button -->
        <a href="#" class="scrolltotop hidden-xs"><i class="fa fa-arrow-up"></i></a>



        

        <!-- Libs and Plugins JS -->
        <script src="/themes/thebaewatch/assets/js/jquery-min.js"></script>
        <script src="/themes/thebaewatch/assets/js/bootstrap.min.js"></script>
        <script src="/themes/thebaewatch/assets/js/jquery.easing.min.js"></script>
        <!-- <script src="/themes/thebaewatch/assets/js/smoothscroll.js"></script> -->
        <script src="/themes/thebaewatch/assets/js/jquery.counterup.min.js"></script>
        <script src="/themes/thebaewatch/assets/js/waypoints.min.js"></script>
        <script src="/themes/thebaewatch/assets/js/jquery.mb.YTPlayer.min.js"></script>
        <script src="/themes/thebaewatch/assets/js/jquery.magnific-popup.min.js"></script> 

        <script src="/themes/thebaewatch/assets/js/masonry.pkgd.min.js"></script>
        <script src="/themes/thebaewatch/assets/js/imagesloaded.pkgd.min.js"></script>


        <script src="/themes/thebaewatch/assets/js/owl.carousel.min.js"></script> <!-- owl carousel JS (more info: http://www.owlcarousel.owlgraphic.com) -->

        <!-- Theme JS -->
        <script src="/themes/thebaewatch/assets/js/theme.js"></script>

        <!-- Theme custom JS (all your JS customizations) -->
        <script src="/themes/thebaewatch/assets/js/application.js"></script>



        <!--==============================
        ///// Begin Google Analytics /////
        ============================== -->

        <!-- Paste your Google Analytics code here. 
        Go to http://www.google.com/analytics/ for more information. -->

        <!--==============================
        ///// End Google Analytics /////
        ============================== -->



    </body>

</html>