==
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{this.page.title}} | THEBAEWATCH</title>
        <meta name="description" content="{{this.page.description}}">
        <meta name="keywords" content="{{this.page.description}}" />
        {% partial "template/resources" %}
    </head>

    <body>

        <!-- Page preloader (display loading animation while page loads) -->
        <!-- <div id="preloader"><div class="pulse"></div></div> -->

        <!-- /////////////////////////////
        ////////// Begin header //////////
        ////////////////////////////// -->

        <header class="is-fixed">
            <a id="cd-logo" class="baewatch-logo" href="/">
                THEBAE.WATCH
            </a>
            <nav id="cd-top-nav">
                <!-- <ul> 
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#0">Register</a></li>
                    <li><a href="#0">Login</a></li>
                </ul> -->
            </nav>
            <!-- Menu trigger (menu button) -->
            <a id="cd-menu-trigger" href="#0"><span class="cd-menu-icon"></span></a>
        </header>

        <!-- /////////////////////////////
        ////////// End header //////////
        ////////////////////////////// -->


        
        <!-- //////////////////////////////////////////////////////////////////////////////////////////////////
        ////////// Begin menu  (more info: http://codyhouse.co/gem/secondary-expandable-navigation/) //////////
        /////////////////////////////////////////////////////////////////////////////////////////////////// -->

        {% partial 'template/navigation' %}

        <!-- /////////////////////////
        ////////// End menu //////////
        ////////////////////////// -->


        <!-- ///////////////////////////////////
        ////////// Begin body content //////////
        //////////////////////////////////// -->

        <div id="body-content">

