==
            <!-- Section 9 -->
            <section id="section-9" class="blog no-padding hidden">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-left col-sm-3 no-padding">
                            <div class="col-inner blog-heading">
                                <a href="#" target="_blank" class="article-link"></a>
                                <!-- Begin Heading -->
                                <div class="heading heading-md align-center">
                                    <h1><span class="bg-white text-red">B</span>log</h1>
                                    <p>read all articles <i class="fa fa-arrow-right"></i></p>
                                </div>
                                <!-- End Heading -->
                            </div> <!-- /.col-inner -->
                        </div> <!-- /.col -->

                        <div class="col-right col-sm-9 no-padding">

                            <!-- Begin content carousel (http://www.owlcarousel.owlgraphic.com)
                            ============================ 
                            * Available carousel data attributes:
                                data-items="1".......................(items visible on desktop)
                                data-items-mobile-portrait="1".......(items visible on mobiles)
                                data-items-mobile-landscape="1"......(items visible on mobiles)
                                data-items-tablet="1"................(items visible on tablets)
                                data-loop="true".....................(true/false)
                                data-margin="10".....................(space between items)
                                data-center="false"..................(true/false)
                                data-start-position="0"..............(item start position)
                                data-animate-in="fadeIn".............(more animations: http://daneden.github.io/animate.css/)
                                data-animate-out="fadeOut"...........(more animations: http://daneden.github.io/animate.css/)
                                data-mouse-drag="true"...............(true/false)
                                data-autoheight="false"..............(true/false)
                                data-autoplay="true".................(true/false)
                                data-autoplay-timeout="5000".........(milliseconds)
                                data-autoplay-hover-pause="true".....(true/false)
                                data-autoplay-speed="800"............(milliseconds)
                                data-nav="true"......................(true/false)
                                data-nav-speed="800".................(milliseconds)
                                data-dots="true".....................(true/false)
                                data-dots-speed="800"................(milliseconds)
                            -->
                            <div class="col-inner owl-carousel article-carousel" data-items="4" data-items-tablet="3" data-items-mobile-landscape="2" data-items-mobile-portrait="1" data-loop="true" data-autoplay="true" data-autoplay-timeout="8000" data-autoplay-hover-pause="true" data-autoplay-speed="600" data-dots="false" data-nav="true" data-nav-speed="600">

                                <!-- Article-1 -->
                                <article class="article article-1 bg-image" style="background-image: url(http://themetorium.net/demo/html/wrapbootstrap/red/v1.4/theme/img/article/article-1.jpg);">
                                    <a href="#" target="_blank" class="article-link"></a> <!-- link to your article -->
                                    <div class="caption">
                                        <h2 class="article-title">Vestibulum dictum metus ipsum</h2>
                                        <div class="entry-meta">
                                            <span class="published">Yesterday</span>
                                            <span class="posted-by">- By <a href="#" title="View all posts by Admin">Admin</a></span>
                                            <span class="posted-in">- in <a href="#" title="View all posts in Holiday">Holiday</a></span>
                                        </div>
                                    </div>
                                </article>

                                <!-- Article-2 -->
                                <article class="article article-2 bg-image" style="background-image: url(http://themetorium.net/demo/html/wrapbootstrap/red/v1.4/theme/img/article/article-2.jpg);">
                                    <a href="#" target="_blank" class="article-link"></a> <!-- link to your article -->
                                    <div class="caption">
                                        <h2 class="article-title">At tempor malesuada mentor</h2>
                                        <div class="entry-meta">
                                            <span class="published">1 day ago</span>
                                            <span class="posted-by">- By <a href="#" title="View all posts by Admin">Admin</a></span>
                                            <span class="posted-in">- in <a href="#" title="View all posts in Holiday">Holiday</a></span>
                                        </div>
                                    </div>
                                </article>

                                <!-- Article-3 -->
                                <article class="article article-3 bg-image" style="background-image: url(http://themetorium.net/demo/html/wrapbootstrap/red/v1.4/theme/img/article/article-3.jpg);">
                                    <a href="#" target="_blank" class="article-link"></a> <!-- link to your article -->
                                    <div class="caption">
                                        <h2 class="article-title">Morbi non porta felis nutter sent</h2>
                                        <div class="entry-meta">
                                            <span class="published">3 day ago</span>
                                            <span class="posted-by">- By <a href="#" title="View all posts by Admin">Admin</a></span>
                                            <span class="posted-in">- in <a href="#" title="View all posts in Holiday">Holiday</a></span>
                                        </div>
                                    </div>
                                </article>

                                <!-- Article-4 -->
                                <article class="article article-4 bg-image" style="background-image: url(http://themetorium.net/demo/html/wrapbootstrap/red/v1.4/theme/img/article/article-4.jpg);">
                                    <a href="#" target="_blank" class="article-link"></a> <!-- link to your article -->
                                    <div class="caption">
                                        <h2 class="article-title">Vivamus vulputate velit in libero pharetra</h2>
                                        <div class="entry-meta">
                                            <span class="published">6 days ago</span>
                                            <span class="posted-by">- By <a href="#" title="View all posts by Admin">Admin</a></span>
                                            <span class="posted-in">- in <a href="#" title="View all posts in Holiday">Holiday</a></span>
                                        </div>
                                    </div>
                                </article>

                                <!-- Article-5 -->
                                <article class="article article-5 bg-image" style="background-image: url(http://themetorium.net/demo/html/wrapbootstrap/red/v1.4/theme/img/article/article-5.jpg);">
                                    <a href="#" target="_blank" class="article-link"></a> <!-- link to your article -->
                                    <div class="caption">
                                        <h2 class="article-title">Praesent maximus venenatis ligula molestie</h2>
                                        <div class="entry-meta">
                                            <span class="published">1 week ago</span>
                                            <span class="posted-by">- By <a href="#" title="View all posts by Admin">Admin</a></span>
                                            <span class="posted-in">- in <a href="#" title="View all posts in Holiday">Holiday</a></span>
                                        </div>
                                    </div>
                                </article>

                            </div> <!-- /.col-inner -->
                            <!-- End content carousel -->

                        </div> <!-- /.col -->

                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </section>
