==

            <!-- Section 2 -->
            <section id="section-2" class="team split-box no-padding hidden">
                <div class="container-fluid">
                    <div class="row">

                        <!-- Begin responsive columns of same height (more info: http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height) -->
                        <div class="row-same-height"> 

                            <div class="col-left col-lg-6 col-lg-height no-padding">
                                <img src="http://themetorium.net/demo/html/wrapbootstrap/red/v1.4/theme/img/team.jpg" alt="image">
                            </div> <!-- /.col -->

                            <div class="col-right col-lg-6 col-lg-height col-middle no-padding">
                                <div class="col-inner">

                                    <!-- Begin Heading -->
                                    <div class="heading heading-xlg">
                                        <h1><span class="bg-dark text-white">Promotion </span><span class="bg-main text-white">#1</span></h1>
                                    </div>
                                    <!-- End Heading -->

                                    <p class="lead">{{this.theme.mission}}</p>

                                    <br>
                                    <a href="#" class="btn btn-inverse btn-rounded btn-lg">Read More</a>

                                </div> <!-- /.col-inner -->
                            </div> <!-- /.col -->
                        </div>
                        <!-- End responsive columns of same height -->

                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </section>
