==
{% set videoList = tvList.records %}
{% set displayColumn = tvList.displayColumn %}
{% set noRecordsMessage = tvList.noRecordsMessage %}
{% set detailsPage = tvList.detailsPage %}
{% set detailsKeyColumn = tvList.detailsKeyColumn %}
{% set detailsUrlParameter = tvList.detailsUrlParameter %}





<section class="product-category section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title text-center">
                    <h2>TV Series</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="category-box">
                    <a href="/show/{{ videoList[0].slug }}">
                        <img src="{{ videoList[0].photo[0].path }}" alt="" />
                        <div class="content">
                            <h3>{{ videoList[0].title }}</h3>
                            <p>{{ videoList[0].subtitle }}</p>
                        </div>
                    </a>    
                </div>
                <div class="category-box">
                    <a href="/show/{{ videoList[1].slug }}">
                        <img src="{{ videoList[1].photo[0].path }}" alt="" />
                        <div class="content">
                            <h3>{{ videoList[1].title }}</h3>
                            <p>{{ videoList[1].subtitle }}</p>
                        </div>
                    </a>    
                </div>
            </div>
            <div class="col-md-6">
                <div class="category-box category-box-2">
                    <a href="/show/{{ videoList[2].slug }}">
                        <img src="{{ videoList[2].photo[0].path }}" alt="" />
                        <div class="content">
                            <h3>{{ videoList[2].title }}</h3>
                            <p>{{ videoList[2].subtitle }}</p>
                        </div>
                    </a>    
                </div>
            </div>
        </div>
    </div>
</section>