title = "categories"
url = "/categories/:slug"
layout = "baewatch-main"
is_hidden = 0

[builderDetails]
modelClass = "Thebaewatch\Thebaewatch\Models\Categories"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "title"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}




<section class="products section">
	<div class="container">
		<div class="row">


			<div class="col-md-12 text-center">
				<h2 class="page-header">{{record.title}}</h2>
			</div>
			
                    {% set myArr = 'id' %}
                    {% set inc = 1 %}
                    {% for model in record.models %}
                    {% if model.public==1 and myArr in model.categories|keys%}


                    <div class="col-md-12">
                    	<h3>{{model.name}}</h5>
                    </div>
	                    {% set break = false %}
						{% for image in model.gallery if not break %}
						    <!-- <h2>{{ image.thumb(1200,'auto') }}</h2> -->
						    	<div class="col-md-4">
									<div class="product-item">
										<div class="product-thumb">
											<img class="img-responsive product-image" src="{{image.thumb(1200,'auto')}}" alt="product-img">
											<div class="preview-meta">
												<ul>
													<li>
														<span class="view-image-trigger" data-toggle="modal" data-target="#product-modal">
															<i class="tf-ion-ios-search-strong"></i>
														</span>
													</li>
													<li>
								                        <a href="#" class="follow-profile-trigger"><i class="tf-ion-ios-plus-empty"></i></a>
													</li>
													<li>
								                        <a href="#" class="add-to-likes-trigger"><i class="tf-ion-ios-heart"></i></a>
													</li>
												</ul>
							              	</div>
										</div>
										<div class="product-content">
											<h4><a href="product-single.html">{{image.title}}</a></h4>
											<p class="price">{{image.description}}</p>
										</div>
									</div>
								</div>
						    {% if loop.index == 3 %}
						        {% set break = true %}
						    {% endif %}
						{% endfor %}



                        {% set inc = inc+1 %}
                    {% endif %}
                    {% endfor %}


		
		<!-- Modal -->
		<div class="modal product-modal fade" id="product-modal">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="tf-ion-close"></i>
			</button>
		  	<div class="modal-dialog " role="document">
		    	<div class="modal-content">
			      	<div class="modal-body">
			        	<div class="row">
			        		<div class="col-md-8 col-sm-6 col-xs-12">
			        			<div class="modal-image">
				        			<img class="img-responsive" src="images/shop/products/modal-product.jpg" alt="product-img">
			        			</div>
			        		</div>
			        		<div class="col-md-4 col-sm-6 col-xs-12">
			        			<div class="product-short-details">
			        				<h2 class="product-title">GM Pendant, Basalt Grey</h2>
			        				<p class="product-price">$200</p>
			        				<p class="product-short-description">
			        					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem iusto nihil cum. Illo laborum numquam rem aut officia dicta cumque.
			        				</p>
			        				<a href="cart.html" class="btn btn-main follow-profile-trigger"><i class="fa fa-plus"></i> Follow</a>
			        				<br>
			        				<a href="model/{{model.slug}}" class="view-profile-trigger btn btn-transparent">View Profile</a>
			        			</div>
			        		</div>
			        	</div>
			        </div>
		    	</div>
		  	</div>
		</div><!-- /.modal -->

		</div>
	</div>
</section>