{% set packages = pricingList.records %}
{% set displayColumn = pricingList.displayColumn %}
{% set noRecordsMessage = pricingList.noRecordsMessage %}
{% set detailsPage = pricingList.detailsPage %}
{% set detailsKeyColumn = pricingList.detailsKeyColumn %}
{% set detailsUrlParameter = pricingList.detailsUrlParameter %}


<section class="pricing-table">
    <div class="container">
      <div class="row">

	    {% for package in packages %}
	        <!-- single pricing table -->
	        <div class="col-md-4 col-sm-6 col-xs-12 ">
	          <div class="pricing-item">
	          
	            <!-- plan name & value -->
	            <div class="price-title">
	              <h3>{{ package.title }}</h3>
	              <strong class="value">${{ package.price }}</strong>
	            </div>
	            <!-- /plan name & value -->
	            
	            <!-- plan description -->
	            <ul>
	            	{% for feature in package.features %}
			            <li><i class="tf-ios-arrow-forward"></i> - {{feature.title}}</li>
	            	{% endfor %}
	            </ul>
	            <!-- /plan description -->
	            
	            <!-- signup button -->
	            <a class="btn btn-main select-package-trigger" data-package-id="{{package.id}}" href="#">Signup</a>
	            <!-- /signup button -->
	            
	          </div>
	        </div>
	        <!-- end single pricing table -->
	    {% endfor %}
        
        
      </div>       <!-- End row -->
    </div>    <!-- End container -->
  </section>