==
<section class="portfolio text-center section-padding" id="portfolio">
          <div class="container">
            <div class="row">
              <div id="portfolioSlider">
                
              <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 800%; transition-duration: 0s; transform: translate3d(-750px, 0px, 0px);"><li class="clone" aria-hidden="true" style="float: left; display: block; width: 750px;">
                    <div class="col-md-4 wp4 animated fadeInDown">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="https://tympanus.net/Freebies/HalcyonDaysTemplate/img/portfolio-01.jpg" alt="Portfolio Item" draggable="false">
                          <div class="overlay">
                            <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                            <a class="close-overlay hidden">x</a>
                          </div>
                        </div>
                      </div>
                      <h2>Creative Minds</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                    </div>
                    <div class="col-md-4 wp4 delay-05s animated fadeInDown">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="https://tympanus.net/Freebies/HalcyonDaysTemplate/img/portfolio-02.jpg" alt="Portfolio Item" draggable="false">
                          <div class="overlay">
                            <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                            <a class="close-overlay hidden">x</a>
                          </div>
                        </div>
                      </div>
                      <h2>Creative Hearts</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                    </div>
                    <div class="col-md-4 wp4 delay-1s animated fadeInDown">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="https://tympanus.net/Freebies/HalcyonDaysTemplate/img/portfolio-03.jpg" alt="Portfolio Item" draggable="false">
                          <div class="overlay">
                            <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                            <a class="close-overlay hidden">x</a>
                          </div>
                        </div>
                      </div>
                      <h2>Creative Ideas</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                    </div>
                  </li>
                  <li class="flex-active-slide" style="float: left; display: block; width: 750px;">
                    <div class="col-md-4 wp4 animated fadeInDown">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="https://tympanus.net/Freebies/HalcyonDaysTemplate/img/portfolio-01.jpg" alt="Portfolio Item" draggable="false">
                          <div class="overlay">
                            <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                            <a class="close-overlay hidden">x</a>
                          </div>
                        </div>
                      </div>
                      <h2>Creative Minds</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                    </div>
                    <div class="col-md-4 wp4 delay-05s animated fadeInDown">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="https://tympanus.net/Freebies/HalcyonDaysTemplate/img/portfolio-02.jpg" alt="Portfolio Item" draggable="false">
                          <div class="overlay">
                            <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                            <a class="close-overlay hidden">x</a>
                          </div>
                        </div>
                      </div>
                      <h2>Creative Hearts</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                    </div>
                    <div class="col-md-4 wp4 delay-1s animated fadeInDown">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="https://tympanus.net/Freebies/HalcyonDaysTemplate/img/portfolio-03.jpg" alt="Portfolio Item" draggable="false">
                          <div class="overlay">
                            <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                            <a class="close-overlay hidden">x</a>
                          </div>
                        </div>
                      </div>
                      <h2>Creative Ideas</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                    </div>
                  </li>
                  <li class="" style="float: left; display: block; width: 750px;">
                    <div class="col-md-4 wp4 animated fadeInDown">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="https://tympanus.net/Freebies/HalcyonDaysTemplate/img/portfolio-01.jpg" alt="Portfolio Item" draggable="false">
                          <div class="overlay">
                            <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                            <a class="close-overlay hidden">x</a>
                          </div>
                        </div>
                      </div>
                      <h2>Creative Minds</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                    </div>
                    <div class="col-md-4 wp4 delay-05s animated fadeInDown">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="https://tympanus.net/Freebies/HalcyonDaysTemplate/img/portfolio-02.jpg" alt="Portfolio Item" draggable="false">
                          <div class="overlay">
                            <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                            <a class="close-overlay hidden">x</a>
                          </div>
                        </div>
                      </div>
                      <h2>Creative Hearts</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                    </div>
                    <div class="col-md-4 wp4 delay-1s animated fadeInDown">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="https://tympanus.net/Freebies/HalcyonDaysTemplate/img/portfolio-03.jpg" alt="Portfolio Item" draggable="false">
                          <div class="overlay">
                            <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                            <a class="close-overlay hidden">x</a>
                          </div>
                        </div>
                      </div>
                      <h2>Creative Ideas</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                    </div>
                  </li>
                <li class="clone" aria-hidden="true" style="float: left; display: block; width: 750px;">
                    <div class="col-md-4 wp4 animated fadeInDown">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="https://tympanus.net/Freebies/HalcyonDaysTemplate/img/portfolio-01.jpg" alt="Portfolio Item" draggable="false">
                          <div class="overlay">
                            <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                            <a class="close-overlay hidden">x</a>
                          </div>
                        </div>
                      </div>
                      <h2>Creative Minds</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                    </div>
                    <div class="col-md-4 wp4 delay-05s animated fadeInDown">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="https://tympanus.net/Freebies/HalcyonDaysTemplate/img/portfolio-02.jpg" alt="Portfolio Item" draggable="false">
                          <div class="overlay">
                            <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                            <a class="close-overlay hidden">x</a>
                          </div>
                        </div>
                      </div>
                      <h2>Creative Hearts</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                    </div>
                    <div class="col-md-4 wp4 delay-1s animated fadeInDown">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="https://tympanus.net/Freebies/HalcyonDaysTemplate/img/portfolio-03.jpg" alt="Portfolio Item" draggable="false">
                          <div class="overlay">
                            <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                            <a class="close-overlay hidden">x</a>
                          </div>
                        </div>
                      </div>
                      <h2>Creative Ideas</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                    </div>
                  </li></ul></div><ol class="flex-control-nav flex-control-paging"><li><a class="flex-active">1</a></li><li><a class="">2</a></li></ol></div>
            </div>
          </div>
        </section>