==

{% set modelData = modelDetails.record %}
{% set displayColumn = modelDetails.displayColumn %}
{% set notFoundMessage = modelDetails.notFoundMessage %}




<div class="container">
        <div class="row">

            {% set inc = 1 %}
            {% for photo in modelData.gallery %}
                <div class="col-md-6">
                    <div class="post">
                  <div class="post-thumb">
                    <a href="">
                      <img class="img-responsive" src="{{photo.thumb(600,'auto')}}" alt="">
                    </a>
                  </div>
                  <h2 class="post-title"><a href="">Two Ways To Wear Straight Shoes</a></h2>
                  <div class="post-meta">
                    <ul>
                      <li>
                        <i class="tf-ion-ios-calendar"></i> 20, MAR 2017
                      </li>
                      <li>
                        <i class="tf-ion-android-person"></i> POSTED BY ADMIN
                      </li>
                      <li>
                        <a href=""><i class="tf-ion-ios-pricetags"></i> LIFESTYLE</a>,<a href=""> TRAVEL</a>, <a href="">FASHION</a>
                      </li>
                      <li>
                        <a href=""><i class="tf-ion-chatbubbles"></i> 4 COMMENTS</a>
                      </li>
                    </ul>
                  </div>
                  <div class="post-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit vitae placeat ad architecto nostrum
                      asperiores vel aperiam, veniam eum nulla. Maxime cum magnam, adipisci architecto quibusdam cumque veniam
                      fugiat quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio vitae ab doloremque accusamus
                      sit, eos dolorum officiis a perspiciatis aliquid. Lorem ipsum dolor sit amet, consectetur adipisicing
                      elit. Quod, facere</p>
                    <a href="" class="btn btn-main">Continue Reading</a>
                      </div>
                    </div>
                </div>
            {% endfor %}


            </div>

    </div>
        <div class="text-center">
            <ul class="pagination post-pagination">
                <li><a href="#">Prev</a>
                </li>
                <li class="active"><a href="#">1</a>
                </li>
                <li><a href="#">2</a>
                </li>
                <li><a href="#">3</a>
                </li>
                <li><a href="#">4</a>
                </li>
                <li><a href="#">5</a>
                </li>
                <li><a href="#">Next</a>
                </li>
            </ul>
        </div>
  </div>






            <!-- Section 6 -->
            <section id="section-6" class="portfolio no-padding-bottom" style="padding-top:0px;display:none;">
                <div class="container-fluid">
                    <div class="row">

                        <!-- Begin masonry -->
                        <div class="masonry popup-gallery">

                            <!-- Begin portfolio heading -->
                            <div class="box col-md-4 col-sm-6">
                                <div class="box-inner portfolio-heading">
                                    <a href="/models/" class="portfolio-link"></a>
                                    <div class="cover"></div>
                                    <!-- Begin Heading -->
                                    <div class="heading heading-md align-center">
                                        <h1><span class="bg-main text-white">M</span>odels</h1>
                                        <p>View All <i class="fa fa-arrow-right"></i></p>
                                    </div>
                                    <!-- End Heading -->
                                </div>
                            </div>
                            <!-- End portfolio heading -->

                                {% set inc = 1 %}
                                {% for photo in modelData.gallery %}


                                    <div class="box box-{{inc}} col-md-4 col-sm-6">
                                        <div class="box-inner" style="max-height: 450px;">
                                            <a href="#model-{{modelData.id}}" class="portfolio-link inline-popup-trigger"></a>
                                            <div class="cover"></div>
                                            <img class="thumbnail" src="{{photo.thumb(600,'auto')}}" alt="image">
                                            <div class="caption align-center">
                                                <h3 class="entry-count">{{model.name}}</h3>

                                                <!-- <img src="http://themetorium.net/demo/html/wrapbootstrap/red/v1.4/theme/img/portfolio/caption-img/2.png" alt="image"> -->
                                            </div>
                                            <h3 class="entry-count">#0{{inc}}</h3>
                                        </div>


                                    </div>
                                    {% set inc = inc+1 %}

                                {% endfor %}
                            


                                        <!-- Begin inline popup content. Class "mfp-hide" is required to make dialog hidden -->
                                        <div id="model-{{modelData.id}}" class="inline-popup mfp-hide">
                                            <div class="inline-popup-inner">
                                                <div class="row">
                                                    <div class="col-md-12">


                                                        <div class="owl-carousel margin-bottom-50" data-items="1" data-loop="true" data-dots="true" data-dots-speed="600" data-nav="true" data-nav-speed="600">
                                                        {% for photoImg in modelData.gallery %}
                                                                <img class="thumbnail" src="{{photoImg.thumb(1200,'auto')}}" alt="{{model.instagram}}">
                                                        {% endfor %}
                                                        </div>
                                                        <!-- End content carousel -->

                                                    </div>
                                                    <div class="col-md-4 hidden">
                                                        <ul>
                                                            <li>Instagram: <strong><a href="http://twitter.com/{{model.instagram}}" target="_blank">@{{model.instagram}}</a></strong></li>
                                                            <li>Twitter: <strong><a href="http://twitter.com/{{model.twitter}}" target="_blank">@{{model.twitter}}</a></strong></li>
                                                            <li>Website: <strong><a href="{{model.website}}" target="_blank">{{model.website}}</a></strong></li>
                                                            <hr>
                                                            {% set shareText = "Checkout @"~model.instagram~" at THEBAE.WATCH/model/"~model.instagram %}
                                                            <a href="https://twitter.com/intent/tweet?text={{shareText}}" target="_blank" class="btn btn-link btn-xs btn-rounded"><i class="fa fa-twitter"></i> Tweet</a>
                                                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://THEBAE.WATCH/model/{{model.instagram}}" target="_blank" class="btn btn-link btn-xs btn-rounded"><i class="fa fa-facebook"></i> Share</a>
                                                        </ul>
                                                        <a href="/model/{{model.slug}}" class="btn btn-danger btn-rounded btn-lg margin-top-40">View Profile</a>
                                                        <br>

                                                    </div>

                                                </div>
                                            </div>
                                            <a class="inline-popup-close" href="#"><i class="fa fa-times"></i></a>
                                        </div>
                        </div>
                    </div> 
                </div> 
            </section>