==
            <!-- Section 11 -->
            <section id="section-11" class="page contact-section bg-dark text-white bg-image" style="background-image: url(http://themetorium.net/demo/html/wrapbootstrap/red/v1.4/theme/img/map-bg.jpg);">

                <!-- Element cover -->
                <div class="cover"></div>

                <div class="container">
                    <div class="row">

                        <div class="col-left col-md-6">
                            <div class="col-inner">

                                <!-- Begin Heading -->
                                <div class="heading heading-xlg">
                                    <h1>Contact <span class="bg-main text-white">Us</span></h1>
                                </div>
                                <!-- End Heading -->
                                                <!-- Socials icons (replace "http://link.com" widh your own link) -->
                                <div class="social-icons">
                                    <a href="https://www.facebook.com/{{this.theme.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/{{this.theme.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="https://instagram.com/{{this.theme.instagram}}" target="_blank"><i class="fa fa-instagram"></i></a>
                                </div>


                            </div> <!-- /.col-inner -->
                        </div> <!-- /.col -->

                        <div class="col-right col-md-6">
                            <div class="col-inner">
                                <a href="mailto:{{this.theme.email}}" target="_blank" class="btn btn-danger btn-rounded btn-lg">say hello <i class="fa fa-paper-plane-o"></i></a>
                                <br><br>

                                <div class="contact-info">
                                  <p><i class="fa fa-home"></i> {{this.theme.address}}</p>
                                  <p><i class="fa fa-phone"></i> {{this.theme.phone}}</p>
                                  <p><i class="fa fa-envelope"></i> {{this.theme.email}}</p>
                                </div>



                            </div> <!-- /.col-inner -->
                        </div> <!-- /.col -->

                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </section>